<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />

      <pages>
        <controls>

          <add tagPrefix="ajaxtoolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolKit" />
        </controls>
        
      </pages>
        
    </system.web>
  
    <connectionStrings>
      <add name="ConStr" connectionString="Data Source=.\;Initial Catalog=AdvancedSearchEngine;Integrated Security=true;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Search.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    
  
</configuration>
